
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: "Arial", Helvetica, sans-serif; 
    max-width: 100%;     
}

/* Header */

header {
    background-color: white;
    display: block;
    margin: 0 auto;
}

#LogoIetec {
    width: 95px;
    padding: 4px;
}

#Navegacao {
    margin-left: 75%;
    margin-top: 1.8%;
}

#NavegacaoUl {
    display: flex;    
}

.NavegacaoLi:first-child {
    margin-right: 10px;
}

.NavegacaoLi {
    list-style: none;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.NavegacaoLi a {
    text-decoration: none;
    color: black;
}

.link:hover {
    background-color: gray;   
}

/* Graficos Pequenos */
#graphic_small {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.GraphicSmall {
    width: 400px;
    height: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px 0px 10px 0px;
    margin: 0 auto;
    margin-left: 5px;
}

/* Graficos grandes*/
#graphic_big {
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}

.GraphicBig {
    width: 30%;
    background-color: white;
    margin-left: 10px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px 0px 10px 0px;
}

/* Trofeus */
#trofeu {
    text-align: center;
    background-color: white;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.t1{
   width: 10%; 
   filter: saturate(0);
}

/* Header */
.central_header {
    display: flex;
    flex-wrap: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    height: 150px;
    padding: 20px 0;
    
}

.menu {
    width: 50%;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.menu a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.menu a:hover{
    text-decoration: underline;
    
}


footer {
    padding: 70px 0;
    margin-top: 2%;
    margin: 0 auto;
}

.box_somos {
    width: 60%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 50px;
}

.row {
    display: flex;
}

.footer-col {
    margin-left: 230px;
}

.footer-col li {
    list-style: none;
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #9802ac;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #000000;
    padding-left: 8px;
}